        @if(!isOk) {      
            @* <div style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center ;">
            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_k8WCTV.json" background="transparent" speed="2"
                style="width: 300px; height: 300px;" loop autoplay ></lottie-player>         
        </div> *@

        <div c style="animation: fading-out 1s ease-in-out forwards; height: 100vh; width: 100vw; background: white; position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%; z-index: 9999;">
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_k8WCTV.json" background="transparent" speed="2"  style="width: 500px; height: 500px; position:absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;" loop autoplay></lottie-player>
    </div>
    }
<CascadingAuthenticationState>

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
            <NotAuthorized>
                Sorry but you're not allowed to see this.
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>


@code {
    bool isOk = false;

protected override async Task OnInitializedAsync()
  {

        await Task.Delay(2000);
        isOk = true;
  }
}