@page "/"
@using System.Linq
@using BlazorApp.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager



<h1>Recherche de salariers</h1>
<AuthorizeView>
<div class="d-flex flex-row-reverse">

    <button @onclick="ShowModal" type="button" class="btn btn-primary">+ Ajouter Salarier</button>
</div>
</AuthorizeView>
<div class="row">
    <div class="col-sm-6">
        @* <input type="text" class="form-control" placeholder="Recherche par nom" @bind-value="@searchTerm" @bind-value:event="oninput" onchange="@(() => Rechercher())"/> *@
        <input type="search" class="form-control" placeholder="Recherche par nom" @oninput="OnChangeSearchBar" />
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h4>Sites</h4>
        @if(sites != null) {
            @* <div class="form-check">

                <label class="form-check-label">All</label>
                <input class="form-check-input" type="radio" name="siteRadio" value="0" @onchange="@(e => HandleSiteChange(0))" checked/>
            </div> *@
            <select class="form-select" aria-label="Default select example" @onchange="HandleSiteChange">
                <option value="0" selected>All</option>
        @foreach (var site in sites)
        {
            @* <div class="form-check">
                <label class="form-check-label">@site.Name</label>
                <input class="form-check-input" type="radio" name="siteRadio" value="@site.Id" @onchange="@(e => HandleSiteChange(site.Id))" />
            </div> *@
              <option value="@site.Id">@site.Name</option>

        }
</select>

        }
    </div>
    <div class="col-sm-6">
        <h4>Services</h4>
        @if(services != null) {
          
            @* <div class="form-check">
                <label class="form-check-label">All</label>
                <input class="form-check-input" type="radio" name="serviceRadio" value="0" @onchange="@(e => HandleServiceChange(0))" checked/>
            </div> *@
            <select class="form-select" aria-label="Default select example" @onchange="HandleServiceChange">
                <option value="0" selected>All</option>
        @foreach (var service in services)
        {
            @* <div class="form-check">
                <input class="form-check-input" type="radio" name="serviceRadio" value="@service.Id" @onchange="@(e => HandleServiceChange(service.Id))" />
                <label class="form-check-label">@service.Name</label>
            </div> *@
              <option value="@service.Id">@service.Name</option>

        }
</select>

        }
        @* @if(services != null) {
            
            <p>Choix service ID: @selectedService</p>
            <div class="form-check">
                <label class="form-check-label">All</label>
                <input class="form-check-input" type="radio" name="serviceRadio" value="0" @onchange="@(e => HandleServiceChange(0))" checked/>
            </div>

        @foreach (var service in services)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="serviceRadio" value="@service.Id" @onchange="@(e => HandleServiceChange(service.Id))" />
                <label class="form-check-label">@service.Name</label>
            </div>
        }
        } *@
    </div>
</div>

<hr />

@if (filteredSalarier != null && filteredSalarier.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Site</th>
                <th>Service</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if(filteredSalarier != null) {
            @foreach (var salarier in filteredSalarier)
            {
                <tr>
                    <td>@salarier.first_name</td>
                    <td>@salarier.last_name</td>
                    <td>@salarier.email</td>
                    @if(salarier.site != null) {

                    <td>@salarier.site.Name</td>
                    }
                    @if(salarier.service != null) {

                    <td>@salarier.service.Name</td>
                    }

                    <td>
                    <AuthorizeView>
                    <button @onclick="async () => await Delete(salarier)" type="button" class="btn btn-danger">Delete</button> 
                        <button @onclick="() =>OpenUpdateModal(salarier)" type="button" class="btn btn-secondary">Update</button> 
                    </AuthorizeView>
                        <button @onclick="() => handleShowSalarierDetails(salarier.Id)" type="button" class="btn btn-primary">Details</button> 
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
}
else
{
    <p>Aucun salarié ne correspond aux critères de recherche.</p>
}

<ModalUpdateSalarierComponent @ref="modal2" modalType="salarier" salarierModel="currentUpdateSalarier" OnSalarierCreated="RefreshSalariers" />
<ModalCreateSalarierComponent @ref="modal" modalType="salarier" OnSalarierCreated="RefreshSalariers" />


@code {
    private List<Salarier>? salarierList = new List<Salarier>();
    private List<Salarier>? filteredSalarier = new List<Salarier>();
    private List<Site>? sites = new List<Site>();
    private List<Service>? services = new List<Service>();
    private string? searchTerm = "";
    private int? selectedSite = 0;
    private int? selectedService = 0;

    private ModalCreateSalarierComponent? modal;
    private ModalUpdateSalarierComponent? modal2;
    private Salarier? currentUpdateSalarier;
        private ToastMessage Message = new ToastMessage("test", "test", DateTime.Now);
    private ToastComponent? toast;

    private string? errorMessage;
    private string? successMessage;



    protected override async Task OnInitializedAsync()
    {
        // Charger la liste de tous les salariers
        salarierList = await LoadSalarierAsync();

        filteredSalarier = salarierList;

        // Charger la liste de tous les sites
        sites = await LoadSitesAsync();

        // Charger la liste de tous les services
        services = await LoadServicesAsync();
    }

    private async Task<List<Salarier>?> LoadSalarierAsync()
    {
        // Appeler l'API pour charger la liste des salariers
        // et la stocker dans une liste
        // ...
        var resultSalarier = await Http.GetAsync("api/Salarier");

        if (resultSalarier.IsSuccessStatusCode)
        {
            var salariersData = await resultSalarier.Content.ReadFromJsonAsync<List<Salarier>>();
            @* Salariers = salariersData; *@
            return salariersData;
        }else {
            return new List<Salarier>();
        }
    }

    private async Task<List<Site>?> LoadSitesAsync()
    {
        // Appeler l'API pour charger la liste des sites
        // et
        var resultSites = await Http.GetAsync("api/Site");

        if (resultSites.IsSuccessStatusCode)
        {
            var sitesData = await resultSites.Content.ReadFromJsonAsync<List<Site>>();
            sites = sitesData;
            return sitesData;
        }else {
            return new List<Site>();
        }
    }
    private async Task<List<Service>?> LoadServicesAsync()
    {
        var resultService = await Http.GetAsync("api/Service");
        if (resultService.IsSuccessStatusCode)
        {
            var servicesData = await resultService.Content.ReadFromJsonAsync<List<Service>>();
            @* services = servicesData; *@
            return servicesData;
        } else {
            return new List<Service>();
        }

    }
     private void OnChangeSearchBar(ChangeEventArgs e)
    {
        searchTerm = e.Value?.ToString();
        Rechercher();
    }

     private void Rechercher()
    {
        if(salarierList != null) {

        filteredSalarier = salarierList
            .Where(s => s.first_name != null && s.first_name.ToLower().Contains(searchTerm.ToLower()))
            .ToList();
        }

        if(filteredSalarier != null) {

                if (selectedSite > 0)
                {
                    filteredSalarier = filteredSalarier
                        .Where(s => s.site != null && s.site.Id == selectedSite)
                        .ToList();
                }

                if (selectedService > 0)
                {
                    filteredSalarier = filteredSalarier
                        .Where(s => s.service != null && s.service.Id == selectedService)
                        .ToList();
                }

                filteredSalarier = filteredSalarier
                    .OrderBy(s => s.first_name)
                    .ToList();
        }
    }



    private void HandleSiteChange(ChangeEventArgs e) {
        string? siteValue = e.Value?.ToString();
        if(siteValue != null) {

        selectedSite = int.Parse(siteValue);
        }
        Rechercher();
    }
    @* private void HandleSiteChange(int siteId) {
        selectedSite = siteId;
        Rechercher();
    } *@

    public void HandleServiceChange(ChangeEventArgs e) {
        
        string? serviceValue = e.Value?.ToString();
        if(serviceValue != null) {

        selectedService = int.Parse(serviceValue);
        }
        Rechercher();
    }

private async Task Delete(Salarier salarier)
    {
        var response = await Http.DeleteAsync($"api/Salarier/{salarier.Id}");

        if (response.IsSuccessStatusCode)
        {

            var result = await response.Content.ReadFromJsonAsync<Salarier>();
            if(result != null) {
                Message = new ToastMessage("Success", $"{salarier.email} a été supprimer avec succès", DateTime.Now);

                // Mettre à jour localement la liste des salariers après la suppression
                salarierList = salarierList?.Where(s => s.Id != salarier.Id).ToList();
                filteredSalarier = salarierList;
                Rechercher();
                
                toast?.ShowToast();

            }
        }
        else
        {
            errorMessage = await response.Content.ReadAsStringAsync();
            Message = new ToastMessage("Error", $"{errorMessage}", DateTime.Now);
            toast?.ShowToast();
        }
    }
    private void OpenUpdateModal(Salarier salarier)
    {
        currentUpdateSalarier = salarier;
        modal2?.ShowModal();
    }

       private void handleShowSalarierDetails(int id) {
        NavigationManager.NavigateTo($"/salariers/{id}");
        
    }

        private async Task RefreshSalariers()
    {
        var result = await Http.GetAsync("api/Salarier");

        if (result.IsSuccessStatusCode)
        {
            var salarierResult = await result.Content.ReadFromJsonAsync<List<Salarier>>();
            salarierList = salarierResult;
            filteredSalarier = salarierList;
            Rechercher();
        }
    }

    private void ShowModal()
    {
        modal?.ShowModal();
    }
}

 